.header{
    background-color: lightgrey;
}
.title{
    font-weight: bolder;
    color: #1974D2;
    font-size: large;
}
.active{
    background-color: #1974D2;
    color: white;
    border-radius: 2px; 
}
.inactive{
    background-color: transparent;
    color: #1974D2;;
    border-radius: 2px; 
}
.links button{
    border-radius: 5px;
    width: 10vW;
    border: none;
    height: 7vh;
}